<footer>
  <ul>
    <li>
      <a href="https://www.facebook.com/BLVENYRBDY?fref=ts">
        <img src="assets/icons/sm_facebook.jpg">
      </a>
    </li>
    <li>
      <a href="http://www.twitter.com/ironmom40">
        <img src="assets/icons/sm_twitter.jpg">
      </a>
    </li>
    <li>
      <a href="https://instagram.com/robin_ab/">
        <img src="assets/icons/sm_instagram.png">
      </a>
    </li>
  </ul>
  <p>
    BLVENYRBDY - R.E.M.M. Training Passion for Fitness LLC</br>
    Robin Allenburke</br>
    603 998 7917</br>
    ironmom40@metrocast.net
  </p>
</footer>