<ul class="sponsors-list">
          <li><a href="https://eastern.com/"><img src="assets/sponsors/sp15.png"></a></li>
          <li><a href="http://www.sosmed.org/"><img src="assets/sponsors/sp01.png"></a></li>
          <li><a href="http://www.castleintheclouds.org/"><img src="assets/sponsors/sp02.png"></a></li>
          <li><a href="http://bigdavesbagels.com/"><img src="assets/sponsors/sp03.png"></a></li>
          <li><a href="http://www.crystalgeyserasw.com/"><img src="assets/sponsors/sp04.png"></a></li>
          <li><a href="http://granitestatept.com/"><img src="assets/sponsors/sp05.png"></a></li>
          <li><a href="http://www.calicoscreenprinting.com/"><img src="assets/sponsors/sp06.png"></a></li>
          <li><a href="http://www.nedelta.com/Home"><img src="assets/sponsors/sp07.png"></a></li>
          <li><a href="http://www.silvafamilydentistry.com/"><img src="assets/sponsors/sp08.png"></a></li>
          <li><a href="http://www.allsportsevents.com/"><img src="assets/sponsors/sp09.png"></a></li>
          <li><a href="http://www.pearlizumifactorystores.com/northconway"><img src="assets/sponsors/sp10.png"></a></li>
          <li><a href="https://www.peoples.com/portal/site/peoples/"><img src="assets/sponsors/sp12.png"></a></li>
          <li><a href="www.hannaford.com"><img src="assets/sponsors/sp13.jpeg"></a></li>
          <li><a href="http://lrct.org/"><img src="assets/sponsors/sp14.jpg"></a></li>
          <li><a href="http://brlsports.com/"><img src="assets/sponsors/sp17.jpg"></a></li>
          <li><a href="https://plus.google.com/110230210974794087760/about?gl=us&hl=en">Tut's Trophies and Awards</a></li>
          <li><a href="http://www.moultonfarm.com/farm-stand/cider-bellies/">Moulton Farm Cider Bellies Doughnuts</a></li>
          <li><a href="http://www.dkirkupjewelrydesigns.com/index.html">Diane Kirkup Jewelry</a></li>
          <li>Dan The Man Arts</li>
          <li><a href="https://www.facebook.com/AshleyLaderArtDesign">Ashley Lader Art &amp; Design</a></li>
          <li><a href="https://plus.google.com/101659035636871061919/about?gl=us&hl=en">Dr. David McCarthy, D.C.</a></li>
          <li><a href="http://www.3craceproductions.com/">3C Race Productions</a></li>
          <li><a href="http://www.stonyfield.com/">Stonyfield Yogurt</a></li>
          <li><a href="https://plus.google.com/105773630920270549933/about?gl=us&hl=en">Weston Auto Body</a></li>
          <li><a href="http://www.polandspring.com/">Poland Springs</a></li>
          <li><a href="http://www.bartlett.com/">Bartlett Tree Experts</a></li>
          <li><a href="http://wolfeboroeye.com/">All-Earth Wolfeboro Eye Associates</a></li>
          <li><a href="https://www.facebook.com/pages/SNAPacidotic/503426696349584">SNAPacidotic</a></li>
          <li><a href="http://www.nordicskiersports.com/">Nordic Skier</a></li>
        </ul>